.explainer {
  font-size: 21px;
  max-width: 1140px;
  margin: auto;
  padding: 16px;
  padding-bottom: 100px;
}

h1 {
  font-size: 82px;
  margin-bottom: 16px;
  font-family: 'Londrina';
  line-height: initial;
}

div {
  line-height: 1.5em;
}